@import url('https://fonts.googleapis.com/css2?family=REM:wght@100;300;400;500;600;700;800;900&family=Righteous&display=swap');

:root{
    --dark-color: #3A3C4D;
    --link-blue: #0941AE;
    --primary-color: #4198FF;
}

html, body{
    padding: 0;
    font-size: 14px;
}

*{
    box-sizing: border-box;
    font-family: 'REM', sans-serif;
    margin: 0;
}

a{
    color: var(--link-blue);
    text-decoration: none;
}

h1{
    font-size:2.5rem;
}

.auth{
    width: 100%;
    height: 100dvh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    & .rollout{
        background-image: url("/auth_bg.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;

        & .content{
            margin: 0 auto;
            color: white;

            & h1{
                font-weight: 100;
                margin-top: 30px;
                margin-bottom: 20px;
            }

            & p{
                color: rgba(255,255,255,0.7);
            }

            & .scroller{
                margin-top: 30px;
                height: 10px;
                width: 10px;
                background-color: white;
                border-radius: 50%;
                position: relative;

                &::after, &::before{
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 100%;
                    background-color: white;
                    left: 15px;
                    border-radius: 10px;
                }

                &::after{
                    width: 40px;
                    left: 30px;
                }
            }
        }
    }

    & .controller{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 20px;

        & .content{
            max-width: 400px;
            margin: 0 auto;
            width: 100%;

            & h1{
                font-weight: 100;
                margin-bottom: 50px;
                color: var(--dark-color);
            }
        }

        & button{
            padding: 12px 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 130px;
            border: none;
            border-radius: 4px;
            background-color: var(--primary-color);
            color: white;
            cursor: pointer;
            transition: 0.3s ease;
            margin-top: 30px;

            &:hover{
                width: 140px;
            }
        }

        & .accountInfo{
            margin-top: 20px;
        }
    }
}

.formGroup{
    width: 100%;
    margin-bottom: 20px;

    & label{
        display: block;
        color: var(--dark-color);
        margin-bottom: 7px;
    }

    & input{
        width: 100%;
        height: 40px;
        border-radius: 4px;
        border: 1px solid #e1e1e1;
        padding-left: 10px;
    }

    & input[type="checkbox"]{
        width: 15px;
        margin-right: 10px;
    }

    &.check{
        display: flex;
        align-items: center;
        width: auto;

        & label{
            margin-bottom: 0;
        }
    }

    &.noSpacing{
        margin-bottom: 0;
    }
}

.flex{
    display: flex;
    
    &.align-center{
        align-items: center;
    }

    &.justify-between{
        justify-content: space-between;
    }
}